/* common styles  */
body {
    font-family: "Inter", sans-serif;

}

main {
    max-width: 1400px;
    margin: 0 auto;
}

.section-title {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin: 0;
}

.red-color-sub-heading {
    color: #F00;
    margin: 0;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

/* header or banner style  */
.banner-section {
    background-image: url('../images/Banner Image.png');
    height: 600px;
    background-repeat: no-repeat;
}

.banner-title {
    margin: 0;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    padding-top: 177px;
}

.banner-heading {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    margin: 0;
}

/* banner style end  */
/* 65% off section start  */
.off-section-title {
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
}

/* 65% off section end  */
.off-section .red-color-sub-heading {
    text-align: center;
}

.off-section .section-title {
    text-align: center;
}

.off-section img {
    display: block;
    width: 800px;
    margin: 48px auto;
}

/* 65% section end  */
/* welcome to party secton start  */
.welcome-party-section {
    background-image: url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    height: 600px;
    padding-top: 126px;
    padding-left: 126px;
    margin: 0;
    margin-top: 120px;
}

.welcome-party-section-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    margin: 0;
}

.welcome-party-section-description {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
}

.welcome-party-section button {
    margin: 48px 32px;
    border: none;
    background: none;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

/* welcome to party section end  */
/* comming soon section start  */
.comming-soon {
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.new-best-offer,
.comming-soon-banner-image,
.comming-soon-2024 {
    width: 25%;
}

.comming-soon-banner-image {
    border: 15px solid #F00;
    padding: 49px;
    border-radius: 50%;
}

.comming-soon-2024 .section-title {
    color: #F00;
}

.comming-soon-description {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
}

/* comming soon section End */
/* portfolio section start  */
.portfolio-section {
    margin-top: 120px;
}

.portfolio-image-container {
    margin-top: 48px;
}

.portfolio-image-row {
    display: flex;
    gap: 24px;
    margin-top: 24px;
}

.portfolio-image-row img {
    border-radius: 16px;
    width: 424px;
}

.portfolio-image-row :hover {
    transform: rotate(0.8deg);
    transition: transrorm, 5s, .9s;
}

/* portfolio section end  */