/* common styles  */
body {
    font-family: "Inter", sans-serif;

}

main {
    max-width: 1400px;
    margin: 0 auto;
}

/* header or banner style  */
.banner-section {
    background-image: url('../images/Banner Image.png');
    height: 600px;
    background-repeat: no-repeat;
}

.banner-title {
    margin: 0;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    padding-top: 177px;
}

.banner-heading {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    margin: 0;
}